body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat";
  color: #8e8f93;
}
p {
  font-size: 14px;
  line-height: 26px;
  word-break: break-word;
}

.prices {
  display: flex;
}

h1 {
  font-family: "Fraunces";
  color: hsl(212, 21%, 14%);
  margin: 0;
  line-height: 32px;
}

h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
  margin: 0;
}

.sale-price {
  font-family: "Fraunces";
  font-size: 2rem;
  color: #3d8268;
  padding-right: 18px;
  padding-bottom: 10px;
}

.add-to-cart {
  background-color: #3d8268;
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart_text {
  margin: 0;
  padding: 0 10px;
  font-family: "Montserrat";
  font-weight: 500;
}

.add-to-cart:active {
  background-color: #1a4031;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.card-component {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10%;
}

.image-container {
  width: inherit;
}

/* Mobile View */

@media screen and (min-width: 375px) {
  .desktop.main-img {
    display: none;
  }

  .card-component {
    flex-direction: column;
    width: 375px;
  }

  .mobile.main-img {
    width: inherit;
    border-radius: 10px 10px 0 0;
  }
  .main-container {
    padding: 24px;
    margin: 0 auto;
  }
  .add-to-cart {
    width: 100%;
  }
  h3 {
    padding-bottom: 14px;
  }
}

@media screen and (min-width: 768px) {
  .card-component {
    width: 680px;
    flex-direction: row;
  }
  .mobile.main-img {
    display: none;
  }
  .desktop.main-img {
    display: block;
    width: 340px;
    border-radius: 10px 0 0 10px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 28px;
  }
  h1 {
    font-size: 38px;
    line-height: 38px;
    width: 80%;
  }
}
